* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

header h1 {
    color:rgb(5, 46, 111);
    font-size: 2.5rem;
}

header p {
    color: #d3d3d3;
    font-size: 1.2rem;
}

main {
    padding: 20px;
}

.content {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.sidebar{
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

h2 {
    color: #2a7fda;
}
h3{
    color:rgb(233, 225, 66);
}
/* h4{
    color:#942ada;
} */
ol {
    list-style-type: square;
    padding-left: 20px;
}

p {
    margin-bottom: 15px;
}
img{
    height:400px;
    width:700px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    color: #f0f0f0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

label {
    font-size: 1rem;
}

input{
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #123f9f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    margin: 5px;
}
button:hover {
    background-color:rgb(15, 93, 165); 
    /* box-shadow: 0.75px 0.75px 6px 4px rgb(116, 98, 231); */

}
button:active{
    transform: scale(0.9);
}
a{
    text-decoration: none;
    height: 100px;
    width: 100px;
    background-color: #2a7fda;
    padding: 10px;
    border-radius: 4px;
    color: #121212;
    position: relative;
    left:50%;
    bottom: 20px;
}
a:hover{
    background-color: #46a5e4;
    box-shadow: 2px 2px 8px 5px #033f8d;
}
a:active{
    transform: scale(0.9);
}
.working{
    background-color:#242323;
    height: 350px;
    width: 700px;
    border-radius: 5px;
    position: relative;
    top:40vh;
    left: 30%;
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px 8px 5px #375276;
}
.working:hover{
    box-shadow: 2px 2px 8px 8px #215598;
}
#result {
    margin-top: 10px;
    font-size: 1.2em;
    color:white
}